@model EntityLayer.Concrete.Category

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add</h2>
@using (Html.BeginForm("Add", "Category", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Category Name")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br />
    @Html.Label("Status: ")
    <select name="CategoryStatus">
        <option>Select</option>
        <option value="true">True</option>
        <option value="false">False</option>
    </select>
    <br />
    @Html.Label("Description")
    @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription)
    <br /><br />
    <button class="btn btn-info">Add</button>

</div>
}

